@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.marked-heading::after{
  content:"";
  position: absolute;
  left:0;
  bottom:10px;
  width:96%;
  height:6px;
  background-color:#4EE1A0;
}
.btn{
  border-bottom: 2px solid #4EE1A0;
  padding-bottom:10px;
  display: inline-block;
}
.btn:hover{
  color: #4EE1A0;
}

.homebanner{
  background: url('../app/images/oval-left.svg') left  137px / 530px 129px no-repeat #151515;
}
.sec1{
  background: url('../app/images/oval-left.svg') left  137px / 530px 129px no-repeat transparent;
}

.langsection{
  background: url('../app/images/oval-right.svg') right  165px / 530px 129px no-repeat #151515;
}

.contactsection{
  background:url(/_next/static/media/oval-left.f1f85fa3.svg) left  92% / 530px 129px no-repeat #242424
}
.langlist-grid-box::after{
 
  content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 10px);
    height: calc(100% + 20px);
    background-color: #4EE1A0;
    opacity: 0;
  transition: all 0.2s ease-in-out;
}
.langlist-grid-box:hover::after{
  
    opacity: 1;
}
.langlist-grid-box:hover{
  color: black;
}

input:focus-visible,
input:focus,
textarea:focus,
textarea:focus-visible{
  outline: none;
}
 

.input-field:has(input:focus-visible) label,
.input-field:has(textarea:focus-visible) label ,
.input-field.hasval label{
  font-size: 12px;
  top:-12px;
}

header.scrolled{
 background: #242424;
 border-bottom: 2px solid #4EE1A0;
}

header.scrolled .headerbox{
  padding-top:20px;
  padding-bottom: 20px;
} 

.socialBox svg,
.iconBox svg{
  width:100%;
  height:100%;
}

.projectCardBox:hover .hoverBlock{
  opacity: 1;
  visibility: visible;
}

@media(max-width:767px){
  .marked-heading::after{
    bottom: 0 ;
    height: 4px;
  }
  .langlist-grid-box::after{
    display: none;
  }
  .homebanner{
    background-position: -297px 116px;
  }
  .langsection{
    background-position: right 90%;
    background-size: 60%;
  }
  .contactsection{
    background-position: left 95%;
    background-size: 65%;
  }
}

.job-roles::after{
  content:"✅";
  width:20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
